In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
labels = ['a','b','c']
my_data = [10,20,30]
arr = np.array(my_data)
d = {'a':10,'b':20,'c':30}

In [5]:
pd.Series(data = my_data)

0    10
1    20
2    30
dtype: int64

In [7]:
pd.Series(data=my_data, index=labels)

a    10
b    20
c    30
dtype: int64

In [10]:
pd.Series(my_data, labels)

a    10
b    20
c    30
dtype: int64

In [11]:
pd.Series(arr, labels) #you can also pass in a NumPy array

a    10
b    20
c    30
dtype: int32

In [13]:
pd.Series(d) #you can also pass in a dict

a    10
b    20
c    30
dtype: int64

In [14]:
pd.Series(data=[sum,print,len]) #a series can store basically anything, while a NumPy cannot

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [18]:
ser1 = pd.Series([1,2,3,4], ['USA', 'Germany', 'USSR', 'Japan'])
ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [20]:
ser2 = pd.Series([1,2,5,4], ['USA', 'Germany', 'Italy', 'Japan'])
ser2

USA        1
Germany    2
Italy      5
Japan      4
dtype: int64

In [22]:
ser1['USSR'] #pass the index to get the data value for that key

3

In [23]:
ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [24]:
ser2

USA        1
Germany    2
Italy      5
Japan      4
dtype: int64

In [25]:
ser1 + ser2 #for the same keys it adds the value so USA value from ser1 + USA value from ser2. if there is a key that does not exist in both Series it will be replaced as NaN otherwise None

Germany    4.0
Italy      NaN
Japan      8.0
USA        2.0
USSR       NaN
dtype: float64