In [1]:
import numpy as np
import pandas as pd

In [2]:
from numpy.random import randn

In [6]:
np.random.seed(101) #sets the seed so it give the same random numbers

In [15]:
df = pd.DataFrame(randn(5,4), ['A', 'B', 'C', 'D', 'E'], ['W','X','Y','Z'])
df

          W         X         Y         Z
A  0.093628  1.240813 -1.097693 -1.908009
B -0.380104 -1.666059 -2.736995  1.522562
C  0.178009 -0.626805 -0.391089  1.743477
D  1.130018  0.897796  0.330866 -1.063049
E -0.125381 -0.945588  2.029544 -1.046358

In [18]:
df['W'] #this returns series so dataframe is just a bunch of series that share the same index

A    0.093628
B   -0.380104
C    0.178009
D    1.130018
E   -0.125381
Name: W, dtype: float64

In [20]:
df[['W','X']]

          W         X
A  0.093628  1.240813
B -0.380104 -1.666059
C  0.178009 -0.626805
D  1.130018  0.897796
E -0.125381 -0.945588

In [43]:
df['New'] = df['W'] + df['X']
df

          W         X         Y         Z       New
A  0.093628  1.240813 -1.097693 -1.908009  1.334441
B -0.380104 -1.666059 -2.736995  1.522562 -2.046163
C  0.178009 -0.626805 -0.391089  1.743477 -0.448796
D  1.130018  0.897796  0.330866 -1.063049  2.027814
E -0.125381 -0.945588  2.029544 -1.046358 -1.070969

In [44]:
df.drop('New', axis=1, inplace=True) #when dropping, it default looks for the index you entered [A,B,C,D,E] in our case New is not a part of the index but rather it is a part of the coloums [W,X,Y,Z,New]. So by default the axis is set to 0, if we are dropping a column you change axis to 1

In [46]:
df

          W         X         Y         Z
A  0.093628  1.240813 -1.097693 -1.908009
B -0.380104 -1.666059 -2.736995  1.522562
C  0.178009 -0.626805 -0.391089  1.743477
D  1.130018  0.897796  0.330866 -1.063049
E -0.125381 -0.945588  2.029544 -1.046358

In [47]:
df.drop('E', inplace=True) #drops the row E

In [49]:
df

          W         X         Y         Z
A  0.093628  1.240813 -1.097693 -1.908009
B -0.380104 -1.666059 -2.736995  1.522562
C  0.178009 -0.626805 -0.391089  1.743477
D  1.130018  0.897796  0.330866 -1.063049

In [50]:
# ROWS

In [52]:
df

          W         X         Y         Z
A  0.093628  1.240813 -1.097693 -1.908009
B -0.380104 -1.666059 -2.736995  1.522562
C  0.178009 -0.626805 -0.391089  1.743477
D  1.130018  0.897796  0.330866 -1.063049

In [54]:
df.loc['A'] #returns a series

W    0.093628
X    1.240813
Y   -1.097693
Z   -1.908009
Name: A, dtype: float64

In [56]:
df.iloc[2] #turns index into a numerical values, since C is at location/index 2 it returns series containing row C

W    0.178009
X   -0.626805
Y   -0.391089
Z    1.743477
Name: C, dtype: float64

In [58]:
df.loc['B','Y']

-2.7369945956467303

In [71]:
df.loc[['A','B'],['Z','Y', 'X']]

          Z         Y
A -1.908009 -1.097693
B  1.522562 -2.736995